.DS_Store
node_modules
.idea
package-lock.json
/build
/dist
.vscode/
.idea/
vite.config.*s.*
.env
.env.*
!.env.example
!.env.production.example
backend/.env*
!backend/.env.example
!backend/.env.production.example
backend/api-dev.log
backend/api-dev*.log
